* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 600px;
    margin: auto;
}

h1 {
    margin: 20px 0px;
}

.alcohols {
    list-style-type: none;
    width: 100%;
    display: flex;
    margin: 30px 0px;
    text-transform: uppercase;
}

.alcohols li a {
    padding-right: 20px;
    font-weight: bold;
    text-decoration: none;
}

table {
    width: 100%;
    border-spacing: 0px;
}

th, td {
    box-sizing: border-box;
    border: 1px solid white;
    padding: 5px;
}

th {
    background-color: #000;
    color: white;
    padding: 10px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #aaa;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

td:nth-child(even) {
    width: 150px;
    text-align: center;
    font-weight: bold;
}

h3 span {
    text-transform: lowercase;
    font-weight: normal;
}

p {
    text-transform: lowercase;
}